@page
@model FacultyDatabase.Pages.Faculty.DeleteModel
@{
}
<h2>Delete Faculty</h2>

<p>Are you sure you want to delete this faculty?</p>

<form method="post">
    <input type="hidden" name="FacultyId" value="@Model.facultyInfo.FacultyId">

    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-secondary" href="/Faculty/FacultyDetail">Cancel</a>
</form>
