@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<style>
    
    .container{
        text-align:center;
    }

    .creators {
        font-weight: bold;
        color: #0099cc;
    }

    p {
        font-size: 1.5rem;
        color: #666;
    }
    
    h1{
        font-size: 3rem;
        color: #3333cc;
        margin: 0;
        padding: 10px;
    }
</style>


<div class="container">
    <h1 >Welcome to College Database!</h1>
    <p class="creators">
        Creators:-
        Aakriti | Manaswini | Sandhya
    </p>
</div>