@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to College Database!</h1>
    <p>
        Creators:-
        Aakriti | Manaswini | Sandhya
    </p>
</div>
