@page
@model CourseDatabase.Pages.Courses.DeleteModel
@{
}

<h1>Delete Course</h1>

@if (!string.IsNullOrEmpty(Model.errorMessage))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post">
    <input type="hidden" asp-for="courseInfo.CourseId" />

    <p>Are you sure you want to delete the course: @Model.courseInfo.CourseName?</p>

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="/Courses/Index" class="btn btn-secondary">Cancel</a>
</form>